@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container-general {
  display: flex;
  background: #1A6DD9;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;

  word-spacing: 100px;
  font-size: 80px;
  color: #89ABD9;

}

.container-commands {
  word-spacing: 118px;
}