.title {
  font-size: 40px;
  color: #89ABD9;
}

.container_form {
  border: 1px solid rgb(7, 170, 246);
  padding: 30px;

}

.container {
  margin-top: -10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.container input{
  width: 100%;
}

.container_button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.container_button button:hover{
  cursor: pointer;
  color: yellow;
  background: red;
}

.container_list {

}

.container_user {
  border: 1px solid rgb(63, 164, 222);
  margin-bottom: 2%;
  padding: 4px;
}